<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
</head>
<body>
    <form action="cadastrar" method="post">
            {% csrf_token %}
            {{msg}}<br>
        <label>Usuario:</label> <input type="text" name="user" id=""><br>
        <label>Organização:</label> <input type="text" name="org" id=""><br>
        <label>email:</label> <input type="text" name="email" id=""><br>
        <label>Senha:</label> <input type="text" name="pass" id=""><br>
       <input type="submit" value="Registrar">
        
    </form>
</body>
</html>